# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out

.idea

.classpath
.project
.settings
.factorypath

.DS_Store
bin/
.apt_generated/
.apt_generated_tests/

